<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="GetBarcodeServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <GetBarcodeServer.Properties.Settings>
            <setting name="GetBarcodeServer_FA_Basic_WebService" serializeAs="String">
                <value>http://10.62.201.121/Basic.WebService/WebService.asmx</value>
            </setting>
        </GetBarcodeServer.Properties.Settings>
    </applicationSettings>
</configuration>
